<!DOCTYPE HTML>
<html lang="en">
<head>
        <title>Ejemplo HTML5-CSS3</title>
        <meta charset= "utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Descripction" content="Mi Primera Página Web CSS3">
        <meta name="keywords" content="HTMl5, CSS3, Web, Diseño Web, UMG" /> 
<style>

</style>

 </head>
<body class="body">
    <header class="pageHeader">
            <nav> <ul>
                <li class="active"> <a href="#">Inicio </a> </li>
                <li><a href="#">Noticias</a></li>
                <LI><a href="#">A cerca de</a></LI>
                <LI><a href="#">Contactanos</a></LI>
            </ul> </nav>
    </header>
    
 <div class="Main">
    <div class="content">
            <article class="Top">   
                <header>
                    <center>
                    <h2> <a href="#"> ¿Que es HTML5?</a></h2>
                    </center>
                </header>
                <footer>
                    <h5><i> Desarrollo Web Francisco Aguilar 2022 UMG Guastatoya Ingenieria En Sistemas </h5> </i>
                </footer>
                <content>
                    <p> HTML5 es un estándar que sirve como referencia del software que conecta con la elaboración de páginas web en sus diferentes versiones, define una estructura básica y un código (denominado HTML)
                         para la definición de contenido de una página web, como texto, imágenes, vídeos, juegos, entre otros.
                    </p>
                    <p>
                        Sus objetivos principales son mejorar el lenguaje dando soporte para los últimos objetos multimedia mientras se mantiene fácilmente legible por los humanos y a su vez ser comprendido constantemente 
                        por ordenadores y dispositivos (navegadores web, programas de análisis, etc.).
                        </p>
                
                        <center> 
                        <img src=../Imagenes/logoht.png>
                        </center>
                    
                </content>
            </article>
            <article class="Bottom">             
                <header>
                    <h2> <a href="#">Introducción a CSS3</a></h2>
                </header>           
                <footer>
                    <h5><i> Desarrollo Web Francisco Aguilar 2022 UMG Guastatoya </h5> </i>
                </footer>
                <content>
                    <p>Es un lenguaje de diseño gráfico que permite definir y crear la presentación de un documento
                        estructurado escrito en un lenguaje de marcado. 
                        Es muy usado para establecer el diseño visual de los documentos web e interfaces de usuario escritas en HTML.
                    </p>
                    <p> ¿Para que sirve el CSS3?</p>
                    <p>El código CSS hace la vida más fácil al desarrollador front-end al separar las estructura de un 
                        documento HTML de su presentación. Dicho de otro modo el HTML actuaría como es esqueleto de la web, definiendo su estructura básica, y el CSS añadiría toda la capa de personalización sobre el que la web define su aspecto final
                        Siguiendo este fundamento resulta muy fácil para un diseñador web realizar cambios en la apariencia de una web sin afectar de manera dramática a su contenido.</p>
                </content>
            </article>
        </div>
    <aside class="top-sidebar">
        <h2>Navegación</h2>
        <ul class="navigation">
            <li> <a href="">Inicio </a></li>
            <li> <a href="">Noticias </a></li>
            <li> <a href="">Acerca de </a></li>
            <li> <a href="">Contáctanos </a></li>
        </ul>
    </aside>
    <aside class="bottom-sidebar">
        <div class="featured">
            <h2>¿Qué es  JavaScript?</h2>
                <center>
                    <img src=../Imagenes/logojava.png>
                </center>
            <p> Es el lenguaje de programación que debes usar para añadir características interactivas a tu sitio web,
                 (por ejemplo, juegos, eventos que ocurren cuando los botones son presionados o los datos son introducidos
                    en los formularios, efectos de estilo dinámicos, animación, y mucho más)</p>
                <center>                        
            <h2> ¿Para qué Sirve JavaScript?</h2>
                </center>    
            <p>Con este lenguaje de programación del lado del cliente (no en el servidor) podemos crear efectos y animaciones 
                sin ninguna interacción, o respondiendo a eventos causados por el propio usuario tales como botones pulsados y 
                modificaciones del DOM (document object model). Por tanto, nada tiene que ver con el lenguaje de programación
                 Java, ya que su principal función es ayudar a crear páginas webs dinámicas.</p>
            <a href="">Leer Mas>></a>
        </div>
    </aside>
</div>
    <footer class="PageFooter">
        <p>Copyrigth &copy; 2022- www.misitio.com</p>
    </footer>
</body<>
</html>